
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 <head>
<link rel="stylesheet" type="text/css" href="/stylesheets/MyStyle.css">

<script type="text/javascript" src="/javascripts/MyScript.js"></script>

</head>
<body >
				<div id="d1"></div>
</body>

